
*.class

*.log

*.jar

*.zip

*.tgz

aa.txt
/dist/
build/classes/.netbeans_automatic_build
build
confserv
dist
test
test1
us_config_proxy_1_p
aa.txt
build.xml
logging.log
manifest.mf
rolling.log
ssh.log

foundation.txt
/nbproject/private/
/Users/stepan_sydoruk/src/Java

.DS_Store
